In [1]:
import pandas as pd

In [2]:
f_cells = r'C:\Users\dongq\OneDrive\mouse patch-seq\result\cell list_mecp2.xlsx'
raw = r'C:\Users\dongq\OneDrive\mouse patch-seq\result\2023-05-26-19-34.csv'

In [3]:
df_list = pd.read_excel(f_cells)
df_raw = pd.read_csv(raw)

In [4]:
df_list

,ID,Date,age,genotype,recording files,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,2023-01-03,6,WT,23103000,23103001,23103002,23103003,23103004,23103005,23103006,23103007,23103008,23103009,23103010,23103011,23103012,NaN,NaN,NaN
1,NaN,2023-01-05,6,NaN,23105000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2023-01-06,6,NaN,23106000,23106001,23106002,23106003,23106004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2023-01-06,6,NaN,23106005,23106006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,n96,2023-01-27,6,KO,23127000,23127001,23127002,23127003,23127004,23127005,23127006,23127007,23127008,23127009,23127010,23127011,23127012,23127013.0,NaN,NaN
5,n97,2023-01-27,6,KO,23127016,23127017,23127018,23127019,23127020,23127021,23127022,23127023,23127024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,n98,2023-01-27,6,KO,23127026,23127027,23127028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,n99,2023-01-27,6,KO,23127029,23127030,23127031,23127032,23127033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,o3,2023-01-28,6,WT,23128000,23128001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,o4,2023-01-28,6,WT,23128003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,o5,2023-01-28,6,WT,23128004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,o7,2023-01-28,6,WT,23128005,23128006,23128007,23128008,23128009,23128010,23128011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,o8,2023-01-28,6,WT,23128012,23128013,23128014,23128015,23128016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,n41,2023-01-28,6,WT,23128017,23128018,23128019,23128020,23128021,23128022,23128023,23128024,23128025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,n42,2023-01-28,6,WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,o55,2023-02-11,9,KO,23211001,23211002,23211003,23211004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,o56,2023-02-11,9,KO,23211005,23211006,23211007,23211008,23211009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,o57,2023-02-11,9,KO,23211010,23211011,23211012,23211013,23211014,23211015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,o86,2023-02-25,6,WT,23225000,23225001,23225002,23225003,23225004,23225005,23225006,23225007,23225008,23225009,23225010,23225011,23225012,23225013.0,23225014.0,23225015.0
19,o87,2023-02-25,6,WT,23225016,23225017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,o88,2023-03-02,3,NaN,23302000,23302001,23302002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,o89,2023-03-02,3,NaN,23302003,23302004,23302005,23302006,23302007,23302008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,o90,2023-03-02,3,NaN,23302009,23302010,23302011,23302012,23302013,23302014,23302015,23302016,23302017,23302018,NaN,NaN,NaN,NaN,NaN,NaN
23,o91,2023-03-02,3,NaN,23302018,23302019,23302020,23302021,23302022,23302023,23302024,23302025,23302026,23302027,NaN,NaN,NaN,NaN,NaN,NaN
24,o92,2023-03-02,3,NaN,23302027,23302028,23302029,23302030,23302031,23302032,23302033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,o93,2023-03-02,3,NaN,23302034,23302035,23302036,23302037,23302038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,o94,2023-03-02,3,NaN,23302038,23302039,23302040,23302041,23302042,23302043,23302044,23302045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,o95,2023-03-02,3,NaN,23302045,23302046,23302047,23302048,23302049,23302050,23302051,23302052,23302053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,s64,2023-05-05,3,NaN,2023_05_05_0000,2023_05_05_0001,2023_05_05_0002,2023_05_05_0003,2023_05_05_0004,2023_05_05_0005,2023_05_05_0006,2023_05_05_0007,2023_05_05_0008,2023_05_05_0009,2023_05_05_0010,NaN,NaN,NaN,NaN,NaN
29,s65,2023-05-05,3,NaN,2023_05_05_0011,2023_05_05_0012,2023_05_05_0013,2023_05_05_0014,2023_05_05_0015,2023_05_05_0016,2023_05_05_0017,2023_05_05_0018,2023_05_05_0019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,s66,2023-05-05,3,NaN,2023_05_05_0020,2023_05_05_0021,2023_05_05_0022,2023_05_05_0023,2023_05_05_0024,2023_05_05_0025,2023_05_05_0026,2023_05_05_0027,2023_05_05_0028,2023_05_05_0029,2023_05_05_0030,2023_05_05_0031,2023_05_05_0032,NaN,NaN,NaN
31,s67,2023-05-05,3,NaN,2023_05_05_0033,2023_05_05_0034,2023_05_05_0035,2023_05_05_0036,2023_05_05_0037,2023_05_05_0038,2023_05_05_0039,2023_05_05_0040,2023_05_05_0041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,s69,2023-05-05,3,NaN,2023_05_05_0042,2023_05_05_0043,2023_05_05_0044,2023_05_05_0045,2023_05_05_0046,2023_05_05_0047,2023_05_05_0048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,s70,2023-05-05,3,NaN,2023_05_05_0049,2023_05_05_0050,2023_05_05_0051,2023_05_05_0052,2023_05_05_0053,2023_05_05_0054,2023_05_05_0055,2023_05_05_0056,2023_05_05_0057,2023_05_05_0058,2023_05_05_0059,2023_05_05_0060,2023_05_05_0061,NaN,NaN,NaN
34,s71,2023-05-05,3,NaN,2023_05_05_0062,2023_05_05_0063,2023_05_05_0064,2023_05_05_0065,2023_05_05_0066,2023_05_05_0067,2023_05_05_0068,2023_05_05_0069,2023_05_05_0070,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,s80,2023-05-08,3,NaN,2023_05_08_0000,2023_05_08_0001,2023_05_08_0002,2023_05_08_0003,2023_05_08_0004,2023_05_08_0005,2023_05_08_0006,2023_05_08_0007,2023_05_08_0008,2023_05_08_0009,2023_05_08_0010,2023_05_08_0011,NaN,NaN,NaN,NaN
36,s81,2023-05-08,3,NaN,2023_05_08_0012,2023_05_08_0013,2023_05_08_0014,2023_05_08_0015,2023_05_08_0016,2023_05_08_0017,2023_05_08_0018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,s82,2023-05-08,3,NaN,2023_05_08_0018,2023_05_08_0019,2023_05_08_0020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,s83,2023-05-08,3,NaN,2023_05_08_0020,2023_05_08_0021,2023_05_08_0022,2023_05_08_0023,2023_05_08_0024,2023_05_08_0025,2023_05_08_0026,2023_05_08_0027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,s84,2023-05-08,3,NaN,2023_05_08_0027,2023_05_08_0028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,u1,2023-01-18,3,NaN,23118000,23118001,23118002,23118003,23118004,23118005,23118006,23118007,23118008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,u2,2023-01-18,3,NaN,23118010,23118011,23118012,23118013,23118014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,u3,2023-01-18,3,NaN,23118016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,u4,2023-01-18,3,NaN,23118017,23118018,23118019,23118020,23118021,23118022,23118023,23118024,23118025,23118026,23118027,23118028,23118029,23118030.0,NaN,NaN
44,u5,2023-01-18,3,NaN,23118031,23118032,23118033,23118034,23118035,23118036,23118037,23118038,23118039,23118040,23118041,23118042,23118043,23118044.0,23118045.0,NaN
45,u6,2023-01-18,3,NaN,23118046,23118047,23118048,23118049,23118050,23118051,23118052,23118053,23118054,23118055,23118056,NaN,NaN,NaN,NaN,NaN
46,u7,2023-01-18,3,NaN,23118061,23118062,23118063,23118064,23118065,23118066,23118067,23118068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,u8,2023-02-21,3,WT,23221000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,u9,2023-02-21,3,WT,23221001,23221002,23221003,23221004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,u10,2023-02-21,3,WT,23221004,23221005,23221006,23221007,23221008,23221009,23221010,23221011,23221012,23221013,23221014,23221015,23221016,NaN,NaN,NaN
50,u11,2023-02-21,3,WT,23221017,23221018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,u12,2023-02-21,3,WT,23221019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,u13,2023-02-21,3,WT,23221020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,u14,2023-02-21,3,WT,23221021,23221022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
data_dict = {}

# DataFrame
for index, row in df_list.iterrows():
    # ID
    sample_id = row.iloc[0]
    age = row.iloc[2]
    genotype = row.iloc[3]
    results = row.iloc[4:].tolist()  # 
    data_dict[sample_id] = dict()

    data_dict[sample_id]['age'] = age
    data_dict[sample_id]['genotype'] = genotype
    data_dict[sample_id]['files'] = []
    # ID
    results_filtered = [result for result in results if pd.notna(result)]
    if sample_id in data_dict:
        data_dict[sample_id]['files'].extend(results_filtered)

In [51]:
raw_dict = df_raw.to_dict(orient='records')

In [52]:
str(raw_dict[0]['-1000.0 pA']) == 'nan'

True

In [53]:
raw_dict_key_file = dict()
for record in raw_dict:
    raw_dict_key_file[record['File']] = record

In [57]:
summary_dict = dict()
for cell in data_dict:
    summary_dict[cell] = dict()
    files = data_dict[cell]['files']
    for k in files:
        file = k + '.abf'
        if file in raw_dict_key_file:
            result = raw_dict_key_file[file]
            for i in result:
                if str(result[i]) != 'nan' and i not in summary_dict[cell]:

                    summary_dict[cell][i] = result[i]

In [59]:
df_summary = pd.DataFrame(summary_dict)

In [62]:
df_summary.T.to_csv('summary.csv')